#chart_div_mp5 .gwd-gen-5555gwdanimation {
  animation: gwd-gen-5555gwdanimation_gwd-keyframes 20s linear 0s 1 normal forwards running;
}
@keyframes gwd-gen-5555gwdanimation_gwd-keyframes {
  0% {
    transform: rotateZ(0deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotateZ(-2.3deg);
    animation-timing-function: linear;
  }
  38% {
    transform: rotateZ(1.53deg);
    animation-timing-function: linear;
  }
  65% {
    transform: rotateZ(-10.37deg);
    animation-timing-function: linear;
  }
  92.5% {
    transform: rotateZ(-11.95deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotateZ(-31.53deg);
    animation-timing-function: linear;
  }
}
#chart_div_mp5 .gwd-motion-path-5555-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": true, "sections": [ {
      "controlPoints": ["0px", "0px", "192.02px", "0.13px", "226.37px", "-0.63px", "247.75px", "2.04px", "247.75px", "2.04px", "261.43px", "3.75px", "263.02px", "-11.32px", "279.81px", "-11.32px", "279.81px", "-11.32px", "323.88px", "-0.14px", "291.76px", "23.42px", "667.03px", "253.62px"], "startTimeMs": 0, "endTimeMs": 20000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-5555-keys-x 20s linear 0s 1 normal forwards running;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-5555-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  32.87% {
    transform: translate3d(247.75px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.304, 0.3713, 0.6994, 0.6247);
  }
  37.62% {
    transform: translate3d(279.81px, 0px, 0px);
  }
  39.18% {
    transform: translate3d(290.93px, 0px, 0px);
  }
  40.74% {
    transform: translate3d(301.01px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3469, 0.3199, 0.6722, 0.6612);
  }
  100% {
    transform: translate3d(667.03px, 0px, 0px);
  }
}
#chart_div_mp5 .gwd-motion-path-5555-anim-y {
  animation: gwd-motion-path-5555-keys-y 20s linear 0s 1 normal forwards running;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-5555-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6229, -0.0764, 1, -0.0338);
  }
  32.87% {
    transform: translate3d(0px, 2.04px, 0px);
    animation-timing-function: cubic-bezier(0.4049, -0.0691, 0.5418, 0.9961);
  }
  37.62% {
    transform: translate3d(0px, -11.32px, 0px);
  }
  39.18% {
    transform: translate3d(0px, -7.54px, 0px);
  }
  40.74% {
    transform: translate3d(0px, -1.55px, 0px);
    animation-timing-function: cubic-bezier(0.3079, 0.3556, 0.6531, 0.6806);
  }
  100% {
    transform: translate3d(0px, 253.62px, 0px);
  }
}
#chart_div_mp5 .gwd-motion-path-5555-anim-theta {
  animation: gwd-motion-path-5555-keys-theta 20s linear 0s 1 normal forwards running;
  transform: rotateZ(0.04deg);
}
@keyframes gwd-motion-path-5555-keys-theta {
  0% {
    transform: rotateZ(0.04deg);
    animation-timing-function: cubic-bezier(0.5807, -0.036, 1, -0.1394);
  }
  32.87% {
    transform: rotateZ(7.13deg);
    animation-timing-function: cubic-bezier(0.4063, 4.6485, 0.3903, 6.2761);
  }
  37.39% {
    transform: rotateZ(-3.87deg);
  }
  37.5% {
    transform: rotateZ(-1.88deg);
  }
  37.62% {
    transform: rotateZ(14.23deg);
  }
  40.74% {
    transform: rotateZ(36deg);
  }
  42.3% {
    transform: rotateZ(40.45deg);
    animation-timing-function: cubic-bezier(0.248, 0.1999, 0.3562, 0.7955);
  }
  100% {
    transform: rotateZ(31.53deg);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}
[data-gwd-motion-path-node].gwd-motion-path-5555-anim-x {
  left: 25px;
  top: 73px;
  width: 40px;
  height: 40px;
}